.label {
    height: 75px;
    width: 390px;
}

.label .text-wrapper {
    color: #141414;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    text-align: center;
    top: 0;
    width: 390px;
}
